*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f6f9;
    padding:40px;
}

.container{
    max-width:700px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.1);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

input,
select,
button{
    width:100%;
    padding:12px;
    margin-bottom:10px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

#result{
    margin-top:20px;
    line-height:2;
}
